.home-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .home-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    padding: 50px 20px;
    max-width: 800px;
    width: 100%;
  }
  
  .home-container h1{
    color: #3fff48;
    margin: 20px 0;
  }

  .home-container h2{
    color: #c1ff4d;
    margin: 20px 0;
  }

  .home-container p {
    color: #b2ffc3;
    margin: 20px 0;
  }
  
  .start-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .home-container-wrapper {
      padding: 10px;
    }
  
    .home-container {
      width: 90%;
      padding: 30px 10px;
    }
  }
  